@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
}

.body-container {
    /* border: 1px solid black; */
    background-color: #fff;
    display: flex;
    width: 75%;
    height: 509px;
    flex-basis: 100%;
    margin: 10% auto;
    padding: 0;
    border-radius: 22px;

}

.image-container {
    flex-basis: 50%;
    /* overflow: hidden; */
    /* border: 1px solid black; */

}

/* .image-container img {
    width: 100%;
    height: auto;
} */

.layer-images {
    /* border: 1px solid red; */
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#bg-desktop {
    /* border: 1px solid red; */
    position: absolute;
    width: 200%;
    top: -62%;
    left: -118%;
    height: auto;
}

#woman {
    /* border: 1px solid red; */
    position: absolute;
    top: 10%;
    right: 18%;
    width: 100%;
    height: auto;
}

#box {
    position: absolute;
    /* width: 100%; */
    height: auto;
    top: 48%;
    left: 6.1%;
}

#woman-mobile,
#bg-mobile {
    display: none;
}

.faq {
    flex-basis: 50%;
    font-family: "Kumbh Sans";
    /* border: 1px solid black; */
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    padding: 7.5% 10% 7.5% 0;
}

.faq h3 {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 700;
    margin: 0 0 7.5% 0;
    /* border: 1px solid red; */
}

.faq .question {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    font-size: 1.3em;
    font-weight: 400;
}

.question .visible {
    /* background-color:hsl(14, 88%, 65%); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.5em;
}

.faq .question img {
    width: 10px;
    height: 6px;
    /* border: 1px solid red; */
}

/* still missing: reverse everything when clicked off */

.faq .question:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

.faq .invisible {
    color: black;
    /* border: 1px solid black; */
    display: none;
    padding-bottom: 1em;

}

.faq .js-dropdown {
    display: block;
}

/* carrot animation
not figured out yet
trigger the carrot to point upward when the question is clicked, when the answer is displayed   */
.faq .animate {
    /* border: 1px solid red; */
    animation: pointUp 500ms ease-in-out forwards 1;
}

@keyframes pointUp {
    0% {
        transform: none;
    }

    100% {
        transform: rotateX(180deg);
    }
}

.attribution {
     font-size: 11px; 
     text-align: center; 
     font-family: "Kumbh Sans";
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
} 

.attribution a:hover {
    color: hsl(14, 88%, 65%);
}


/* responsive styles */
@media only screen and (max-width: 1024px) {
    #bg-desktop {
        /* border: 1px solid red; */
        position: absolute;
        width: 200%;
        top: -22%;
    }
    
    #woman {
        /* border: 1px solid red; */
        position: absolute;
        top: 25%;
        
    }
    
    #box {
        /* border: 1px solid red; */
        position: absolute;
        top: 48%;
        left: 5%;
        width: 15%;
    }
    
    
}

@media only screen and (max-width: 768px) {
    .body-container {
        flex-direction: column;
        width: 80%;
        /* border: 1px solid red; */
        height: auto;
        margin: 20% auto;
    }

    #woman-mobile,
    #bg-mobile {
        display: block;
        /* border: 1px solid red; */
    }

    #woman-mobile {
        position: absolute;
        text-align: center;
        top: 6%;
        margin-left: -4%;
    }

    #bg-desktop {
        /* border: 1px solid red; */
        display: none;
    }
    
    #woman {
        /* border: 1px solid red; */
        display: none;
    }
    
    #box {
        display: none;
    }

    .invisible {
        /* border: 1px solid red; */
        width: 90%;
    }

    .image-container {
        display: flex;
        flex-direction: column-reverse;
        /* border: 1px solid red; */
    }

    .mobile-layers {
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        align-items: center;
    }

    .faq {
        flex-basis: 100%;
        /* border: 1px solid black; */
        padding: 7.5% 10% 7.5% 10%;
    }
    
    .faq h3 {
        margin: auto;
        margin-bottom: 1em;
        /* border: 1px solid red; */
    }  
}

@media only screen and (max-width: 660px) {
    #woman-mobile {
        top: 1.5%;
    }
}

@media only screen and (max-width: 500px) {
    .body-container {
        margin: 30% auto 20% auto;
    }

    #woman-mobile {
        top: 5%;
    }

    .question p {
        /* border: 1px solid red; */
        width: 90%;
    }
}

@media only screen and (max-width: 420px) {
    #woman-mobile {
        top: 1%;
    }
}

@media only screen and (max-width: 375px) {
    .body-container {
        margin: 40% auto 20% auto;
    }

    #woman-mobile {
        top: 6%;
    }
    
}